@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.job-filter {
  display: flex;
  justify-content: end;

  @include media-desktop {
    justify-content: center;
  }

  &__filters {
    display: none;

    @include media-desktop {
      display: flex;
      justify-content: center;
      column-gap: 40px;
      margin-top: 24px;
    }
  }

  &__item {
    position: relative;
  }

  &__menu-button {
    display: flex;
    font-size: 1.6rem;
    color: $dark-cyan;
    text-transform: capitalize;
    font-weight: 700;
    background-color: transparent;
    border: none;
    margin-top: 24px;
    padding: 1rem;

    @include media-desktop {
      display: none;
    }
  }

  &__icon {
    width: 16px;
    margin-right: 4px;
    filter: invert(57%) sepia(49%) saturate(312%) hue-rotate(131deg)
      brightness(93%) contrast(93%);
  }

  &__arrow {
    width: 16px;
    margin-left: 4px;
    filter: invert(57%) sepia(49%) saturate(312%) hue-rotate(131deg)
      brightness(93%) contrast(93%);
  }
}
