@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.header {
  background-color: $dark-cyan;
  background-image: url("./images/bg-header-mobile.svg");
  width: 100vw;
  height: 156px;

  @include media-desktop {
    background-image: url("./images/bg-header-desktop.svg");
  }
}
