@use "./variables" as *;
@use "./mixins" as *;

@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan";
  font-weight: 700;
  font-size: 1.5rem;
  background-color: $light-grayish-cyan;
}

button {
  cursor: pointer;
}

.main {
  padding: 0 24px;

  @include media-desktop {
    padding: 0 40px;
  }
}
